table{
    border: 1px solid #000;
    border-collapse: collapse;
}
tr,td{
    border: 1px solid #000;
    padding: 5px;
}
tr:nth-child(1),tr:nth-child(2){
    background-color: #e61818;
    color: white;}

    tr:nth-child(3) td, tr:nth-child(4) td, tr:nth-child(5) td, tr:nth-child(6) td {
        border-bottom: 0px inset   ; /* Lighter border color */
    }